#defaultText {
    color:#ffa500;
    font-size:1vw;
    position:relative; left:5px; top:50px; width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
/* Her er CSS-en som jeg bruker for alle tekst elementene,
her er bare enkle definisjoner av farge, størrelse og plassering i nettsiden. */

#defaultHeadline {
    color:#ffa500; text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;font-size: 40px;
}
/* Her er CSS-en min for alle overskriftene, her er det enda enklere definisjoner av størrelse, farge og plassering.
Disse CSS kodene blir lagret i en «ID», du kan se om det er en ID ved å se om det er en # i begynnelsen av navnet.
 */

#sidenav {
    font-size:2vw;cursor:pointer;
    color:#ffa500;
}

/* Galleri CSS */

.container {
  position: relative;
}
/* Her har vi litt mer enkel CSS som definerer hvordan forskjellige elementer i bildegalleriet skal se ut.
Først gjør vi slik at containeren og selve bildene ligger i midten av nettleseren.
 */
      
.mySlides {
  display: none;
  text-align: center;
}
      
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}
/* Så definerer vi hvordan de to pilene til høyre og til venstre skal se ut,
her det bare enkle ting som f.eks, hvilken farge de har og hvor store de er. */
      
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Siden begge pilene til nå bare ligger på venstre side av nettleseren, endrer vi her på hvor den befinner seg. */
      
.prev:hover,
.next:hover {
  background-color: black;
}
/* Her endrer vi på bakgrunnsfargen ser ut når vi holder musen over, her blir den endret til svart. */
      
.numbertext {
  color: #cf7500;
  font-size: 25px;
  padding: 8px 12px;
  position: relative;
  text-align: center;
  top: 0;
}
/* Til slutt I CSS dokumentet definerer jeg hvordan tallene over hvert bilde ser ut.
Her det nok en gang enkle definisjoner av farge og størrelse og slik. */