<!DOCTYPE html>
<html lang="en">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.typekit.net/yic4bwc.css">
<link rel="stylesheet" href="websiteassets/Style.css">

<style>

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color:#ffa500;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.background {
  background-image: url("websiteassets/Pictures/titlescreen.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

</style>

<div class = "background"></div>

</head>

<body bgcolor="#04011b">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0) class="closebtn onclick="closeNav()">&times;</a>
    <a href="websiteassets/eldin.html" target="_blank"> Eldin</a>
    <a href="websiteassets/geir.html" target="_blank">Geir</a>
    <a href="websiteassets/jonas.html" target="_blank">Jonas</a>
    <a href="websiteassets/jens.html" target="_blank">Jens</a>
  </div>
    
  <span id="sidenav" onclick="openNav()">&#9776;<p;>Dokumentasjon</p></span>

  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>
     
  <h1><p id="defaultHeadline">Sanctus Miles</p></h1>

  <table id="defaultText">
    <tr>
      <td><label>Sanctus Miles er et Top-Down PvE spill som går ut på å sloss og drepe fiender på forskjellige etasjer i et slott
                                    ved bruk av våpnene du er tildelt. Det er totalt 6 nivåer der den første er for å lære deg hvordan du spiller spillet.
                                    De andre nivåene er action-fylte rom der du må løpe rundt å drepe zombier som kommer etter deg med blodtørstig sult
                                    mens du slåss for å holde deg i live lenge nok til å eventuelt møte lederen bak de råtne hordene.
                                    Målet ditt i dette spillet er å komme deg til toppen av slottet for å frigjøre det fra dets okkupanter.
                                    </br></br>
                                    Dette spillet er laget av fire gyldne gutter med navnene: Geir, Eldin, Jonas og Jens under studionavnet "Gutta krutt".
                                    Spillet ble laget i sammenheng med Gand VGS sin Game-Jam inspirerte event med navnet: "Årets Tverrfaglige Sluttprosjekt", 
                                    eller "ÅTS" forkortet. ÅTS er en veldig prestisjetung event med flere millioner deltakende spillutviklere av alle ferdighetsnivåer
                                    som alle prøver å være det laget som ender opp på toppen.
                                    </br></br>
                                    Gutta Krutt er et veldig berømt team av utviklere som har oppnådd førsteplass i 4 tidliger ÅTS-er,
                                    og har høye håp om å gripe førsteplassen dette året også. Dommerne som kommer til å dømme dette årets ÅTS
                                    er ingen andre enn de selvelste "Store Tre", som de blir kalt av hele verdens ledere. 
                                    Deres navn er: Carl Erik, Arvid Ranestad og Randi Roth, og er verdens mest berømte og velstående spill-kritikere.
                                    </br></br>
                                    Under kan du se traileren som ble laget for Sanctus Miles, som hadde et budsjett på 36 millioner amerikanske dollar,
                                    og er skreddersydd av verdens ledende film-redaktører fra Hollywood. 
                                    
                                  

      </br></br></br></br></br></br></br>

    </label>
    </tr>
</table>

<iframe 
style='display: block; margin: 0 auto;'
width="560" 
height="315" 
src="https://www.youtube.com/embed/d1YBv2mWll0" 
title="Informational video about our game" 
frameborder="0" 
allowfullscreen></iframe>
  
  
<table id="defaultText">
  <tr>
    <td><label>Hvis ikke traileren var nokk til å overbevise deg, kan du under finne et par screenshotts tatt rett utifra spillet.
                Som du kan se, ser spillet plettfritt ut selv om bildene her ikke har gått gjennom utallige redigeringsprogram
                for å få dem til å se bedre ut. Vi kan takke de veldig talentfulle grafiske designerene og de vidunderlige
                leveldesignerene for disse nydelige kunstverkene vi er så heldige å kunne se
    </br></br></br></br></br></br>

        </label>
  </tr>
</table>
  
<div class="container">

  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
      <img src="websiteassets/Pictures/galleri/galleri1.jpg" style="width:25%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="websiteassets/Pictures/galleri/galleri2.png" style="width:25%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="websiteassets/Pictures/galleri/galleri3.jpg" style="width:25%">
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
      <img src="websiteassets/Pictures/galleri/galleri4.jpg" style="width:25%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <img src="websiteassets/Pictures/galleri/galleri5.png" style="width:25%">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
      <img src="websiteassets/Pictures/galleri/galleri6.png" style="width:25%">
  </div>

  <!-- Piler for å gå frem å tilbake mellom bildene -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>

<script>
  let slideIndex = 1;
showSlides(slideIndex);

// gjør at frem og tilbake knappene fungerer
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Gjør at du kan se hovedbildet du er på
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");

  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
} 
</script>
  
<table id="defaultText">
  <tr>
    <td>
      <label>Nå som du har fått en liten sneak peak på hva dette spillet har å tilby, er det nå på tide å spillet spillet for deg selv.
                  Siden spillet ikke er blitt offisielt lansert helt enda kan man ikke finne det på de store spillfordelings-nettsidene som Steam,
                  er du nødt til å gå til spesielle kilder for å få spillt spillet tidlig. Heldigvis har vi klart å få tillatelse fra utviklerene
                  slik at vi kan legge til en nedlastningslink for spillet på denne siden. Så hvis du ønsker å spillet spillet, ligger det her:
                  </br></br>

                  <a href="Pictures/test.txt" download>
                  <img src="websiteassets/Pictures/Title screen.png" alt="Dokumentasjonen til Jens">
                  </a>

                  </br></br>
                  Hvis du har problemer med å bli vandt til spillet og trenger noen frampek eller tips
                  har utviklerene av spillet vært snille nok til å lage en video-tutorial som du kan se på
                  hvis du sitter fast
                  </br></br></br></br></br></br>
      </label>
    </td>
  </tr>
</table>

<iframe 
style='display: block; margin: 0 auto;'
width="560" 
height="315" 
src="https://www.youtube.com/embed/d1YBv2mWll0" 
title="YouTube video player" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</body>
</html>